$primary-color: #2856df;
$secondary-color: #000;
$focus-color: #ff4a6a;
$error-color: #e00f35;

$border-radius: 10px;
$general-padding: 10px;

$duration-animation: 0.5s;
$duration-animation-long: 1.5s;
