@import "../../styles/variables.scss";

.ad-item {
  width: 100%;
  font-size: 1.5em;
  border: none;
  padding: 10px;

  background-color: #f7f7f7;
  border-radius: $border-radius;

  &:focus-visible {
    outline: 2px solid $focus-color;
  }
}
